nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
    color: white;
    height: 30px;
    align-items: center;
    font-size: 15px;
}

.NavLogo {
    margin: 0px 10px;
    width: 10%;
    height: 100%;
    text-align: center;
}

.NavLogo img {
    height: 100%;
    filter: invert(1);
}

.NavList {
    width: 50%;
    height: 100%;
    align-content: center;
    display: flex;
    list-style: none;
}

.ActiveLink {
    font-size: 20px;
    font-weight: 800;
    color: rgb(0, 245, 163)!important;
}

.NavListItem a {
    text-decoration: none;
    transition: color .3s ease-in-out;
    color: rgb(255, 255, 255);
}

.NavListItem {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    transition: font-size .3s ease-in-out;
}

.NavListItem:hover {
    font-size: 20px;
}